* {
	box-sizing: border-box;
}

.container {
	width: 1200px;
	margin: 0 auto;
}
html {
	font-family: 'Jost', sans-serif;
	font-size: 22px;
	font-weight: 400;
}
.statistics_background {
	background: #f4f0ec;
	width: 100%;
}
.statistics {
	width: 1440px;
	display: flex;
	height: 475px;
	justify-content: space-evenly;
	align-items: center;
}
.statistics_number {
	font-family: 'DM Serif Display';
	font-size: 85px;
	line-height: 128px;
	letter-spacing: 1.7px;
	text-align: center;
	color: #cda274;
	margin-bottom: 10px;
}
.statistics_text {
	line-height: 33px;
	text-align: center;
	letter-spacing: 0.22px;
	color: #4d5053;
}
